<% if (page.tag) { %>
  <% page.posts.each(function(post){ %>
    <% var tag = _.find(theme.menu, function (item) {
      return item.path === '/tags/' + page.tag;
    }); %>
    <%- partial('_partial/' + (theme.card_style.tag || 'article-card'), { post: post }) %>
  <% }) %>
  <%- partial('_partial/pagination') %>
<% } else { %>
  <section class="archive">
    <% site.tags.forEach(function (tag) { %>
      <section class="archive-category">
        <a class="title" href="/tags/<%= tag.name %>"><%= tag.name %></a>
        <ul class="menu">
          <% tag.posts.forEach(function(item) { %>
            <li>
              <a href="<%- url_for(item.path) %>">
                <span><%= item.title %></span>
                <%- date(item.date, 'MMM D, YYYY') %>
              </a>
            </li>
          <% }); %>
        </ul>
      </section>
    <% }); %>
  </section>
<% } %>