<section class="article">
  <h2 class="title"><%= post.title %></h2>
  <p class="sub"><%- date(post.date, 'MMM D, YYYY') %></p>
  <article class="content">
    <%- post.more %>
  </article>
  <footer class="f-cf">
    <% if (post.prev) { %>
      <a href="<%- url_for(post.prev.path) %>" class="link f-fl">⟵<%= post.prev.title %></a>
    <% } %>
    <% if (post.next) { %>
      <a href="<%- url_for(post.next.path) %>" class="link f-fr"><%= post.next.title %>⟶</a>
    <% } %>
  </footer>
</section>