<div class="project-card project-card-continuous">
  <% if (post.photos[0]) { %>
    <div class="imgWrap">
      <img src="<%= post.photos[0] %>" alt="" />
    </div>
  <% } %>
  <div class="ctnWrap">
    <a href="<%- url_for(post.path) %>" class="title"><%= post.title %></a>
    <section class="desc"><%- partial('excerpt', { post: post }) %></section>
    <p class="sub"><%- date(post.date, 'MMM D, YYYY') %></p>
  </div>
</div>