<nav id="nav">
  <header class="header">
    <a href="<%= url_for('/') %>" class="title"><%= theme.nav.title %></a>
  </header>
  <div class="ctnWrap">
    <div class="icons">
      <% if (theme.social) { %>
        <% for (key in theme.social) { %>
          <% value = theme.social[key]; %>
          <% if (value) { %>
            <a href="<%= url_for(value) %>" target="_blank" class="nav-icn iconfont icon-<%= key.toLowerCase() %>"></a>
          <% } %>
        <% }; %>
      <% } %>
    </div>
    <div class="menu">
      <% if (theme.menu) { %>
        <% for (key in theme.menu) { %>
          <% value = theme.menu[key].path || theme.menu[key]; %>
          <% if (value) { %>
            <a href="<%= url_for(value) %>" class="nav-menu <%= is_current(value) ? 'z-active' : '' %>"><%= key.toUpperCase() %></a>
          <% } %>
        <% }; %>
      <% } %>
    </div>
  </div>
</nav>